<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
  </head>
  <body>
    <a href="/signup">Signup</a>
    <a href="/login">login</a>
  </body>
</html>
