<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <form class=""
      action="//localhost:3001/login"
      method="post">
      <input type="text" name="email" value="" placeholder="Enter email">
      <button type="submit">Login</button>

    </form>
  </body>
</html>
